.package
{
  font-family: monospace;
  font-weight: bold;
}

.attribute,
.class,
.command,
.constant,
.element,
.file,
.type
{
  font-family: monospace;
}

.example, .license, .terminal
{
  font-family:    monospace;
  border:         1px solid #ccc;
  padding-top:    1.0em;
  padding-left:   1.0em;
  padding-bottom: 1.0em;
  margin-top:     1.2em;
  overflow:       auto;
}

.dependencies table td
{
  padding-right: 3.0em;
  font-family:   monospace;
  font-size:     9pt;
}

.platforms table td
{
  padding-right: 2.0em;
}
.platforms table tbody,
.platforms table thead
{
  font-size:     8pt;
  font-family:   monospace;
}

