/*
 * Main page structure.
 */

.structural_1_0_0_body
{
  max-width: 60em;
}

/*
 * Navigation bar.
 */

.structural_1_0_0_navbar
{

}
.structural_1_0_0_navbar_top
{
  margin-top:    1.3em;
  margin-bottom: 1.0em;
}
.structural_1_0_0_navbar_bottom
{
  margin-top: 1.0em;
}
.structural_1_0_0_navbar_table
{
  margin-bottom: 0.0em;
  width:         100%;
}
.structural_1_0_0_navbar_prev_file_cell
{
  text-align: left;
  width: 33%;
}
.structural_1_0_0_navbar_up_file_cell
{
  text-align: center;
  width: 33%;
}
.structural_1_0_0_navbar_next_file_cell
{
  text-align: right;
  width: 33%;
}
.structural_1_0_0_navbar_prev_title_cell
{
  text-align: left;
  width: 33%;
}
.structural_1_0_0_navbar_up_title_cell
{
  text-align: center;
  width: 33%;
}
.structural_1_0_0_navbar_next_title_cell
{
  text-align: right;
  width: 33%;
}
.structural_1_0_0_navbar_top hr
{
  margin-top: 1.0em;
}
.structural_1_0_0_navbar_bottom hr
{
  margin-bottom: 1.0em;
}

.structural_1_0_0_navbar_top .structural_1_0_0_navbar_prev_title_cell,
.structural_1_0_0_navbar_top .structural_1_0_0_navbar_next_title_cell,
.structural_1_0_0_navbar_top .structural_1_0_0_navbar_up_title_cell
{
  vertical-align: top;
}

.structural_1_0_0_navbar_bottom .structural_1_0_0_navbar_prev_title_cell,
.structural_1_0_0_navbar_bottom .structural_1_0_0_navbar_next_title_cell,
.structural_1_0_0_navbar_bottom .structural_1_0_0_navbar_up_title_cell
{
  vertical-align: bottom;
}

/*
 * Element: document-contents
 */

.structural_1_0_0_document_contents
{
  margin-left:   6.2em;
  margin-bottom: 2.7em;
}
.structural_1_0_0_document_contents_item
{

}
.structural_1_0_0_document_contents_item1
{

}
.structural_1_0_0_document_contents_item2
{
  margin-left: 2em;
}
.structural_1_0_0_document_contents_item3
{
  margin-left: 2em;
}
.structural_1_0_0_document_contents_part
{

}
.structural_1_0_0_document_contents_section
{

}

/*
 * Element: document-title
 */

.structural_1_0_0_document_title
{
  margin-top:    1.2em;
  margin-left:   3.4em;
  margin-bottom: 0.6em;
  font-size:     120%;
}

/*
 * Element: footnote
 */

.structural_1_0_0_footnotes
{

}
.structural_1_0_0_footnotes hr
{
  margin-bottom: 1.4em;
}
.structural_1_0_0_footnote_number
{
  float:       left;
  font-size:   80%;
  margin-top:  0.25em;
  margin-left: 0.15em;
}
.structural_1_0_0_footnote_body
{
  margin-left:    6.2em;
  margin-bottom:  1.4em;
  line-height:    1.4em;
}

/*
 * Element: formal-item
 */

.structural_1_0_0_formal_item
{
  margin-left:    6.2em;
  margin-bottom:  1.4em;
  overflow:       auto;
}

/*
 * Element: formal-item-list
 */

.structural_1_0_0_formal_item_list
{

}
.structural_1_0_0_formal_item_list_title
{
  margin-bottom: 1.0em;
}

/*
 * Element: formal-item-title
 */

.structural_1_0_0_formal_item_title
{
  font-weight:   bold;
  margin-bottom: 1.0em;
}
.structural_1_0_0_formal_item_title_number
{

}

/*
 * Element: image
 */

.structural_1_0_0_image
{

}

/*
 * Element: link
 */

.structural_1_0_0_link
{

}

/*
 * Element: link-external
 */

.structural_1_0_0_link_external
{

}

/*
 * Element: list-item
 */

.structural_1_0_0_list_item
{

}

/*
 * Element: list-ordered
 */

.structural_1_0_0_list_ordered
{

}

/*
 * Element: list-unordered
 */

.structural_1_0_0_list_unordered
{

}

/*
 * Element: paragraph
 */

.structural_1_0_0_paragraph_container
{

}
.structural_1_0_0_paragraph
{
  margin-left:    6.2em;
  margin-bottom:  1.4em;
  line-height:    1.4em;
}
.structural_1_0_0_paragraph_number
{
  float:       left;
  font-size:   90%;
  margin-top:  0.05em;
  margin-left: 0.15em;
}

/*
 * Element: part
 */

.structural_1_0_0_part_container
{

}
.structural_1_0_0_part
{
  margin-bottom: 1.0em;
}

/*
 * Element: part-title
 */

.structural_1_0_0_part_title
{
  margin-left:   3.6em;
  margin-bottom: 0.7em;
  font-size:     110%;
}
.structural_1_0_0_part_title_number
{
  float:       left;
  font-size:   110%;
}

/*
 * Element: part-contents
 */

.structural_1_0_0_part_contents
{
  margin-left:   6.2em;
  margin-bottom: 1.7em;
}
.structural_1_0_0_part_contents_item
{

}
.structural_1_0_0_part_contents_item1
{

}
.structural_1_0_0_part_contents_item2
{
  margin-left: 2em;
}
.structural_1_0_0_part_contents_item3
{
  margin-left: 4em;
}
.structural_1_0_0_part_contents_part
{

}
.structural_1_0_0_part_contents_section
{

}
.structural_1_0_0_part_contents_subsection
{

}

/*
 * Element: part-title
 */

.structural_1_0_0_part_title
{

}

/*
 * Element: section
 */

.structural_1_0_0_section_container
{

}
.structural_1_0_0_section
{
  margin-bottom: 1.0em;
}

/*
 * Element: section-contents
 */

.structural_1_0_0_section_contents
{
  margin-left:   6.0em;
  margin-bottom: 1.7em;
}
.structural_1_0_0_section_contents_item
{

}
.structural_1_0_0_section_contents_item1
{

}
.structural_1_0_0_section_contents_item2
{
  margin-left: 2em;
}
.structural_1_0_0_section_contents_item3
{
  margin-left: 2em;
}
.structural_1_0_0_section_contents_section
{

}
.structural_1_0_0_section_contents_subsection
{

}

/*
 * Element: section-title
 */

.structural_1_0_0_section_title
{
  margin-left:   5.2em;
  margin-bottom: 0.7em;
  font-size:     120%;
}
.structural_1_0_0_section_title_number
{
  float:       left;
  font-size:   120%;
}

/*
 * Element: subsection
 */

.structural_1_0_0_subsection_container
{

}
.structural_1_0_0_subsection
{
  margin-bottom: 1.8em;
}

/*
 * Element: subsection-title
 */

.structural_1_0_0_subsection_title
{
  margin-left:   6.2em;
  margin-bottom: 1.0em;
  font-size:     100%;
}
.structural_1_0_0_subsection_title_number
{
  float:       left;
  font-size:   100%;
}

/*
 * Element: table
 */

.structural_1_0_0_table
{
  padding-top: 1.0em;
}

/*
 * Element: table-cell
 */

.structural_1_0_0_table_cell
{

}

/*
 * Element: table-column-name
 */

.structural_1_0_0_table_column_name
{

}

/*
 * Element: table-head
 */

.structural_1_0_0_table_head
{

}

/*
 * Element: table-head
 */

.structural_1_0_0_table_head
{

}

/*
 * Element: table-row
 */

.structural_1_0_0_table_row
{

}

/*
 * Element: term
 */

.structural_1_0_0_term
{

}

/*
 * Element: verbatim
 */

.structural_1_0_0_verbatim
{

}

