<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>com.io7m.jspatial</title>
  </properties>

  <body>
    <subsection name="jspatial">
      <p>
        <a href="https://travis-ci.org/io7m/jspatial">
          <img src="https://travis-ci.org/io7m/jspatial.svg" alt="Travis CI"/>
        </a>
        <a href="https://maven-badges.herokuapp.com/maven-central/com.io7m.jspatial/com.io7m.jspatial">
          <img src="https://maven-badges.herokuapp.com/maven-central/com.io7m.jspatial/com.io7m.jspatial/badge.png" alt="Maven Central"/>
        </a>
        <a href="https://www.codacy.com/app/github_79/jspatial">
          <img src="https://api.codacy.com/project/badge/Grade/e929da3002124ae1844ebb0d1dd3697c" alt="Codacy"/>
        </a>
      </p>
      <p>
        The <var>jspatial</var> package implements a set of spatial
        data structures.
      </p>
      <p>
        <a href="viewer.png">
          <img src="viewer.png" alt="Octtree viewer" width="454" height="277" />
        </a>
      </p>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Quadtree implementations, including efficient area and raycast queries.</li>
        <li>Octtree implementations, including efficient volume and raycast queries.</li>
        <li>Numerous working examples, such as the octtree viewer pictured above.</li>
        <li>Fully documented (Javadoc).</li>
        <li>97% automated unit test coverage.</li>
        <li>ISC license.</li>
        <li><a href="https://www.osgi.org/">OSGi</a>-ready.</li>
        <li>Platform independent: Written in pure Java 8.</li>
        <li>Rendering system independent (the example viewers use Swing and <a href="http://www.jogamp.org/jogl">JOGL</a>, but neither are required to use the library).</li>
      </ul>
    </subsection>
  </body>

</document>
